/* Font
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat/Montserrat-VariableFont_wght.ttf') format('ttf')
}

body {
  font-family: 'Montserrat', sans-serif; 
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #b292f3;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #b292f3;
  background-color: #d4d1d1;
  outline: 0; }


.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #4c4062;
  background-color: #d2befb;
  border-color: #b8a3e1;
  margin-top: 30px; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #4c4062;
  background-color: rgb(177, 151, 228);
  border-color: #a389d6;
   }


.circle-pink {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#FAAAAA
}

.circle-grey {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ABABAB
}

.circle-purple {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9f74f2
}

.home-page-style {
  background-color: #F0F0F0;
  display: block;
  margin: 0 auto;
}

.homepage-text-main {
  font-weight: normal;
  max-width: 80%;
  color: #3b3b3b;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.results-properties-description {
  font-weight: normal;
  max-width: 80%;
  color: #3b3b3b;
  text-align: center;
}

.homepage-text {
  font-weight: normal;
  margin-right: 300px;
  margin-left: 300px;
  color: #3b3b3b;
}

.homepage-logo {
  max-width: 35%; 
  height: auto;
  margin-top: 30px;
}

.how-to-use-page-header {
  align-items: center;
  height: auto;
  background-color: #F0F0F0
}

.how-to-use-screenshot {
  max-width: 60%; 
  height: auto;
  margin-top: 30px;
  /* border-color: #a389d6; */
  border-radius: 4px;
  border: 2px solid #d6c8f1;
}

.how-to-use-screenshot-no-border {
  max-width: 60%; 
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.how-to-use-screenshot-margin {
  max-width: 60%; 
  height: auto;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 4px;
  border: 2px solid #d6c8f1;
}

.input-example{
  color: #555;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
  border-color: #555;
  border: 2px solid #c0bebe;
  max-width: 30%; 
  align-items: left;
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
}

.homepage-publication-link {
  color: #361870;
  font-size: 18px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: .1rem;
  text-decoration: none;
  font-weight: normal;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  display: inline-block;
  white-space: normal;
  line-height: 1.5
}

.contact-info {
  color: #5b5d74;
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  margin-bottom: -5px;
  opacity: 0.6;
}

.header-buttons{
  display:flex;
  justify-content: center;
  margin-top:50px;
  margin-bottom:30px
}

.email-info {
  color: #5b5d74;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
}

.tg-info {
  color: #5b5d74;
  font-size: 14px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  opacity: 0.6;
}

.tg-link {
  color: #5b5d74;
  font-size: 18px;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center
}

.how-to-use-font {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: .1rem;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #737373;
  text-align: center
}

.how-to-use-image {
  display: flex;
  justify-content: center; 
  margin-bottom: 30px;
  
}

.how-to-use-circle {
  display:flex;
  justify-content:center;
}

.highlighted-left-text {
  font-weight: 200;
  letter-spacing: .1rem;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #737373;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 1.2px 1.2px #919191;
}

.highlighted-left-text-margin {
  font-weight: 200;
  letter-spacing: .1rem;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left:20px;
  color: #737373;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 1.2px 1.2px #919191;
}

.highlighted-left-text-margin-2 {
  font-weight: 200;
  letter-spacing: .1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:5px;
  color: #737373;
  text-align: left;
  text-transform: uppercase;
  text-shadow: 1.2px 1.2px #919191;
}

.highlighted-center-text {
  font-weight: 200;
  font-size: 25px;
  letter-spacing: .1rem;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #737373;
  text-align: center;
  text-shadow: 1.2px 1.2px #919191;
}

.highlighted-center-smaller-text {
  font-weight: 200;
  font-size: 20px;
  letter-spacing: .1rem;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #737373;
  text-align: center;
  text-shadow: 1.2px 1.2px #919191;
}

.center-text {
  font-weight: normal;
  letter-spacing: .1rem;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #737373;
  line-height: 30px;
  max-width: 70%;
}


.run-select-text {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black
}

.run-select-info-text {
  font-weight: normal;
  color: gray;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 15px
}

.run-select-info-text2 {
  font-weight: normal;
  text-align: justify;
  color: gray;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 15px
}

.run-char-count-text {
  font-weight: bold;
  color: #b292f3;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: end;
}

.run-left-panel-layout {
  flex: 1;
  padding: 5px;
  background-color: #F0F0F0;
}

.switch-label {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 10px; 
  margin-left: 10px;
  color: gray;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: .1rem;
  text-decoration: none;
  font-weight: normal;
  white-space: nowrap
}

.upload-component {
  width: 100%;
  height: 100px;
  line-height: 80px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.upload-component-text {
  width: 99%;
  height: 300px;
  color: gray;
  line-height: 15px;
  margin-right: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  /*cursor: pointer;*/
}

.upload-component-text:focus {
  border-color: #b292f3;
  outline: none;
}

.upload-component-text-log {
  width: 99%;
  height: 100px;
  color: gray;
  line-height: 15px;
  margin-right: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  background-color: white;
  border-radius: 5px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  /*cursor: pointer;*/
}
.upload-component-text-log:focus {
  outline: none;
  /*cursor: pointer;*/
}

.successful-upload {
  color: gray;
  margin-top: -15px;
  text-align: center;
  font-weight: normal
}

.substrate-checklist-text {
  display: block;
  font-weight: normal;
  margin-left: 25px;
  margin-top:-19px
}

.reactants-image {
  height: 150px;
  width:auto;
  margin: 10px
}

.arrow-image {
  height: 20px;
  width:auto; 
  margin-bottom: 75px
}

.plus-image {
  height: 10px;
  width:auto; 
  margin-bottom: 80px
}

.summary-text {
  color: #555;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  white-space: nowrap
}

.results-text {
  font-weight: normal;
  margin-top: 50px;
  margin-bottom: 50px;
  color: black;
  text-align: center;
}

.results-buttons {
  display:block; 
  justify-content: center;
  margin-top:50px;
  margin-bottom:30px                    
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px
}

.radio_style{
  appearance: none;
  -webkit-appearance: none;

  /* For a circular appearance we need a border-radius. */
  border-radius: 50%;

  /* The background will be the radio dot's color. */
  background: #b292f3;

  /* The border will be the spacing between the dot and the outer circle */
  border: 5px solid #FFF;

  /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
  box-shadow: 0 0 0 1px #b292f3;
}

.box {
  line-height: 12px;
  margin-left: 20px;
  margin-right: 10px;
  display: block;
  font-size: 9px;
  border-radius: 5px;
  padding: 2px;
  inline-size: 150px;
  overflow-wrap: break-word;
  white-space: pre-line;
  text-align: justify;
  width: 90%;
}

.link-box {
  color: gray;
  background-color: transparent;
  text-decoration: none;
  line-height: 16px;
  margin-left: 20px;
  margin-right: 10px;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  padding: 2px;
  inline-size: 150px;
  overflow-wrap: break-word;
  white-space: pre-line;
  text-align: justify;
  width: 90%;
}

.link-box:link {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

.link-box:hover {
  color: #b292f3;
  background-color: transparent;
  text-decoration: underline;
}

.link-box:active {
  color: #b292f3;
  background-color: transparent;
  text-decoration: underline;
}